.card {
    display: grid;
    grid-template-columns: 215px 320px auto;
    max-width: 750px;
    width: 100%;
    height: 190px;
    color: #fff;
    background-color: rgb(53 53 53 / 62%);
    margin: 0 auto 20px;
    padding: 7px;
    border-radius: 8px;

    .avatar {
        width: 200px;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }

    .info {
        font-size: 15px;

        .name {
            font-size: 23px;
            color: #d4d430;
            padding: 8px;
            border-radius: 8px;
            margin-bottom: 15px;
        }
    }
}