.header {
    margin: 15px 0 25px;
    font-family: 'Starwars';
    text-align: center;
    color: yellow;

    .text {
        font-size: 40px;
    }

    .subText {
        font-family: 'Anakinmono';
        letter-spacing: 5px;
    }
}